<div class="container">
  <div class="row flex-items-xs-center" style="margin-top: 15px;">
    <h1>Sign in</h1>
  </div>
  <div class="row flex-items-xs-center load-fade">
    <div class="col-md-6">

      <%= react_component('ResponseMessagesBlock') %>

      <%= form_for(:session, url: login_path, remote: true, html: {id: 'login_form'}) do |f| %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Type your email', required: 'true' %>
            <small>Your email need to restore password</small>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: 'true' %>
            <small>Your password</small>
          </div>

          <%= f.submit 'Sign in', class: 'btn btn-outline-primary pull-xs-right', id: 'login_btn' %>

      <% end %>
    </div>
  </div>
</div>