<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="text-align: left">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= react_component('ErrorsBlock') %>

        <%= form_for(@user, remote: true, method: :patch, html: {id: 'edit_user_form'}, multipart: true,
                     authenticity_token: true) do |f| %>
            <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: 'form-control', placeholder: 'Type your new username', required: 'true' %>
              <small class="text-muted">Type your new username</small>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control', placeholder: 'Type your new email', required: 'true' %>
              <small class="text-muted">Type your new email</small>
            </div>

            <div class="form-group">
              <%= f.label :avatar %>
              <%= f.file_field :avatar, class: 'form-control-file' %>
              <small class="text-muted">Choose new avatar</small>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit class: 'btn btn-outline-primary pull-xs-right', id: 'edit_user_btn' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>