<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to 'Profile', user_path(@user), class: 'nav-link ' + (action_name == 'show' ? 'active' : '') %>
  </li>
  <li class="nav-item dropdown">
    <%= link_to 'Courses', '#', class: 'nav-link dropdown-toggle ' + (controller_name == 'courses' ? 'active' : ''),
                data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'false'} %>
    <div class="dropdown-menu">


      <% if current_user? @user %>
        <%= link_to user_courses_path(@user), class: 'dropdown-item' do %>
          <i class="fa fa-book" aria-hidden="true"></i>	&ensp;My courses
        <% end %>
        <% if @user.has_role?(:teacher) %>
          <%= link_to new_course_path, class: 'dropdown-item' do %>
            <i class="fa fa-file-o" aria-hidden="true"></i>	&ensp;Create course
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "User's courses", user_courses_path(@user), class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
  <% if current_user? @user %>
    <li class="nav-item">
      <%= link_to 'Subscriptions', user_subscriptions_path(@user),
                  class: 'nav-link ' + (controller_name == 'subscriptions' ? 'active' : '') %>
    </li>

    <li class="nav-item">
      <%= link_to 'Settings', edit_user_path(@user), class: 'nav-link ' + (action_name == 'edit' ? 'active' : '') %>
    </li>
  <% end %>
</ul>