<table class="table">
  <tbody>
  <% if @user.profile.facebook.present? %>
    <tr>
      <th scope="row"><i class="fa fa-facebook profile_icon" aria-hidden="true" title="Facebook account"></i></th>
      <td>
        <%= link_to @user.profile.facebook,
                    'https://www.facebook.com/' + @user.profile.facebook,
                    target: '_blank', id: 'user_facebook' %>
      </td>
    </tr>
  <% end %>

  <% if @user.profile.twitter.present? %>
    <tr>
      <th scope="row"><i class="fa fa-twitter profile_icon" aria-hidden="true" title="Twitter account"></i></th>
      <td>
        <%= link_to @user.profile.twitter,
                    'https://twitter.com/' + @user.profile.twitter,
                    target: '_blank', id: 'user_twitter' %>
      </td>
    </tr>
  <% end %>

  <% if @user.profile.website.present? %>
    <tr>
      <th scope="row"><i class="fa fa-link profile_icon" aria-hidden="true" title="My website"></i></th>
      <td>
        <%= link_to @user.profile.website, @user.profile.website,
                    target: '_blank', id: 'user_website' %>
      </td>
    </tr>
  <% end %>

  <% if @user.profile.about.present? %>
    <tr>
      <th scope="row"><i class="fa fa-pencil-square-o profile_icon" aria-hidden="true" title="Info about me"></i></th>
      <td>
        <blockquote class="blockquote" id="user_about" style="margin: 0; font-size: 1rem">
          <%= @user.profile.about %>
        </blockquote>
      </td>
    </tr>
  <% end %>

  <% unless @user.profile.location.blank? %>
    <tr>
      <th scope="row"><i class="fa fa-map-marker profile_icon" aria-hidden="true" title="Place where I am"></i></th>
      <td>
        <%= link_to @user.profile.location, 'https://www.google.com.ua/maps/place/' + @user.profile.location,
                    target: '_blank', id: 'user_location' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
