<% if current_user %>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-primary p-4">
        <ul class="list-inline text-right" style="margin-bottom: 0; color: white">
          <li class="list-inline-item">
            <%= link_to user_courses_path(current_user), class: 'text-white' do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              &nbsp;Courses
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to user_subscriptions_path(current_user), class: 'text-white' do %>
              <i class="fa fa-bookmark" aria-hidden="true"></i>
              &nbsp;Subscriptions
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to recommendations_path, class: 'text-white' do %>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              &nbsp;Recommendations
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to edit_user_path(current_user), class: 'text-white' do %>
              <i class="fa fa-cog" aria-hidden="true"></i>
              &nbsp;Settings
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </div>
<% end %>

<nav class="navbar navbar-toggleable-lg navbar-inverse bg-primary navbar-custom-styles">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" id="navbar_toggler"
          data-target="#navbarResponsive" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to 'TeachBot', root_path, class: 'navbar-brand brand-blink', style: 'width: 8ch' %>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= courses_path %>">
          <i class="fa fa-list-ul" aria-hidden="true"></i> Courses
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= public_chat_path %>">
          <i class="fa fa-commenting" aria-hidden="true"></i> Chat
        </a>
      </li>
    </ul>

    <div class="col-lg mr-auto" id="global_search_panel">
      <%= react_component('GlobalSearch') %>
    </div>

    <ul class="nav navbar-nav float-xl-right">

      <% if current_user %>

        <li class="nav-item active" style="position: relative">
          <a class="nav-link" href="<%= user_path(current_user) %>">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span id="header_user_link"><%= current_user.username %></span>
          </a>
        </li>

        <li class="nav-item">
          <div class="nav-link active" data-toggle="collapse" data-target="#navbarToggleExternalContent"
               style="cursor: pointer">
            <i class="fa fa-list" aria-hidden="true"></i>
            <span>Menu</span>
          </div>
        </li>

        <li class="nav-item active" style="position: relative">
          <a class="nav-link" href="<%= chats_path %>">
            <i class="fa fa-weixin" aria-hidden="true"></i>
            Chats
            <%= react_component('UnreadMessages', {}, tag: 'spans') %>
          </a>
        </li>

        <%= react_component('Notifications', {}, tag: 'li', class: 'nav-item hidden-md-down') %>

        <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>" data-method="delete">
            <i class="fa fa-plug" aria-hidden="true"></i>
            Logout
          </a>

        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= login_path %>">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= signup_path %>">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Sign Up
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% if flash[:super_info_notice] %>
  <%= react_component('SuperResponseBlock', { message: flash[:super_info_notice], type: 'alert-info' }) %>
<% end %>

<% if flash[:super_danger_notice] %>
  <%= react_component('SuperResponseBlock', { message: flash[:super_danger_notice], type: 'alert-danger' }) %>
<% end %>

<% if flash[:super_success_notice] %>
  <%= react_component('SuperResponseBlock', { message: flash[:super_success_notice], type: 'alert-success' }) %>
<% end %>

