<div class="container" style="margin-top: 15px">
  <div class="row">
    <div class="col-md-8" style="margin-bottom: 15px">
      <div class="box-shadow-block chat_block" id="chat_block">
        <%= react_component('PublicChat', current_user: current_user.id, public_chat: @chat.id) %>
      </div>
      <%= form_for :message, url: chat_messages_path(@chat),
                   remote: true, authenticity_token: true, html: {id: 'new_message'} do |f| %>
        <div class="form-group">
          <%= react_component('ResponseMessagesBlock') %>
          <%= f.text_area :text, class: 'form-control', placeholder: 'Text of your message', required: true %>
        </div>
        <div class="text-xs-right">
          <%= f.submit class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= react_component('ChatParticipants') %>
    </div>
  </div>
</div>