<div class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= course.title %></h5>
    <small>
      <%= link_to 'Visit', course_path(course), class: 'btn btn-sm btn-outline-info' %>

      <% if current_user %>
        <% if course.author_id == current_user.id %>
          <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-outline-success' %>
        <% end %>
        <% if course.author_id == current_user.id %>
          <%= link_to 'Delete', course_path(course), method: :delete,
                      data: { confirm: 'Are you sure that you want to delete this course?'},
                      class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
      <% end %>
    </small>
  </div>

  <p class="mb-1">
    <%= course.description %>
  </p>
  <small>Type: <%= course.public %></small>
</div>