<%= react_component('ResponseMessagesBlock') %>
<%= form_for [@course, @lesson], remote: true do |f| %>
  <div class="container-fluid">
    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title of the lesson...', required: 'true',
                       maxlength: 50 %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Short description of the lesson...',
                      required: 'true', maxlength: 500 %>
    </div>

    <hr>
    <div style="margin-bottom: 10px">
      <div class="d-inline-block">
        <%= render 'toolbar/toolbar' %>
      </div>
    </div>

    <div class="form-group">
      <div id="lesson_html_content" style="padding: 0.5rem 0.75rem;">
        <%= sanitize @lesson.content if @lesson.content.present? %>
      </div>
      <%= f.hidden_field :content %>
    </div>

    <hr>
    <div>
      <%= f.submit class: 'btn btn-outline-primary btn-lg',
                   id: 'lesson_form_btn',
                   data: {disable_with: 'Loading...', confirm: 'Are you sure?'}
      %>

    </div>
  </div>
<% end %>