<%= content_for :head do %>
  <meta id="course_theme_color" content="<%= @course.theme %>">
  <meta name="lesson_url" content="<%= course_lesson_url(@course, @lesson) %>">
  <meta name="lesson_id" content="<%= @lesson.id %>">
<% end %>


<%= render partial: 'nav', locals: { lesson: @lesson, course: @course } %>

<div class="container-fluid">
  <% cache @lesson do %>
    <h1><%= @lesson.title %></h1>
    <p class="lead">
      <%= @lesson.description %>
    </p>
    <hr>
    <%= sanitize @lesson.content %>
  <% end %>
  <hr>
  <h2 class="text-center">Comments</h2>
  <div id="disqus_thread" style="margin-top: 15px"></div>
</div>