<div class="box-shadow-block">
  <div class="course-top-line background_coloured_element"></div>

  <div style="padding: 0 15px 15px 15px">
    <div class="row">
      <div class="col-sm">
        <h1 class="display-4"><%= @course.title %></h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <blockquote class="blockquote">
          <%= @course.description %>
        </blockquote>
      </div>
    </div>

    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Author</th>
        <td>
          <%= link_to @course.author.username, user_path(@course.author), class: 'text_coloured_element' %>
          <%= image_tag @course.author.avatar, class: 'rounded-circle', height: '30px', width: '30px' %>
        </td>
      </tr>
      <tr>
        <th>Last update</th>
        <td>
          <%= @course.updated_at.to_formatted_s(:long_ordinal) %>
        </td>
      </tr>
      <tr>
        <th>Type</th>
        <td>
          <b><%= @course.public? ? 'public' : 'private' %></b>
        </td>
      </tr>

      <tr>
        <th>
          Status
        </th>
        <td>
          <%= render 'status' %>
        </td>
      </tr>

      <tr>
        <th><i class="fa fa-eye" aria-hidden="true" title="Count of views"></i></th>
        <td>
          <b><%= @views %></b>
        </td>
      </tr>
      <tr>
        <%= render 'subscribers' %>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h2 style="text-align: center; margin: 15px">Related lessons</h2>

<div style="margin-top: 15px;">
  <%= render partial: 'lesson', collection: @course.lessons %>
</div>

<% if it_is_current_user(@course.author) %>
  <div class="box-shadow-block">
    <h2 style="text-align: center; padding: 10px">
      <%= link_to 'Create a new lesson', new_course_lesson_path(@course), class: 'text_coloured_element' %>
    </h2>
  </div>
<% end %>