<div class="card box-shadow-block course-card-custom animated">
  <%= image_tag course.poster, class: 'card-img-top img-fluid hidden-xs-down',
                alt: 'Poster not found' if course.poster %>
  <div class="card-block">
    <h2 class="card-title" style="word-break: break-all"><%= course.title %></h2>
    <p class="card-text" style="word-break: break-all"><%= course.description %></p>

    <table class="table table-sm">
      <tr>
        <th scope="row">Updated</th>
        <td><%= course.updated_at.strftime('%e %b %Y') %></td>
      </tr>
      <tr>
        <th scope="row">Views</th>
        <td><%= course.views %></td>
      </tr>
      <tr>
        <th scope="row">Tags</th>
        <td>
          <% if course.tags.any? %>
            <% course.tags.each do |tag| %>
              <span class="badge badge-primary"><%= tag.name %></span>
            <% end %>
          <% else %>
            not specified
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-footer text-muted">
    <%= link_to course_path(course), class: 'btn btn-primary' do %>
      Visit&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    <% end %>
  </div>
</div>