<%= react_component('ResponseMessagesBlock') %>
<%= form_for(@course, remote: true, authenticity_token: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Type the title of the course', required: 'true' %>
    <small>Title of your course</small>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Type the description of the course', required: 'true' %>
    <small>Description of your course</small>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <%= f.check_box :public, {class: 'form-check-input', checked: true} %>
        Public course
      </label>
    </div>
    <small>
      Remove the check flag if you want to create a private course
      (Only you and course's subscribers can view a content of this course)
    </small>
  </div>

  <div class="form-group">
    <%= f.label :poster %>
    <%= image_tag (@course.poster || ''), id: 'course_preview_poster', class: 'course-poster-preview',
                  style: (@course.poster.nil? ? 'display: none' : '') %>
    <%= f.file_field :poster, class: 'form-control-file' %>
    <small class="form-text text-muted">Poster of this course.</small>
  </div>

  <div class="form-group">
    <%= f.label :theme %>
    <%= f.color_field :theme, class: 'form-control' %>
    <small>
      Theme of your course defines color decor of your course
    </small>
  </div>
  <%= f.submit class: 'btn btn-outline-primary pull-xs-right',
               id: 'create_user_btn',
               data: {disable_with: 'Loading...'}
  %>
<% end %>