<!DOCTYPE html>
<html>
<head>
  <title>Firstapp</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control" content="no-preview">
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield :head %>

</head>

<body id="body_<%= controller_name %>_<%= action_name %>">

<%= render 'shared/header' %>

<%= render 'shared/notices' %>
<div class="load-fade">
<%= yield %>
</div>
<%= render 'shared/footer', cached: true %>

<%= yield :bottom %>
</body>
</html>
